{{#models}}{{#model}}# {{classname}}

{{#description}}{{&description}}
{{/description}}
## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
{{#vars}}**{{name}}** | {{^complexType}}**{{dataType}}**{{/complexType}}{{#complexType}}[**{{dataType}}**]({{complexType}}.md){{/complexType}} | {{description}} | {{^required}}[optional] {{/required}}{{#isReadOnly}}[readonly] {{/isReadOnly}}{{#defaultValue}}[default to {{{.}}}]{{/defaultValue}}
{{/vars}}

{{#vendorExtensions.x-is_search_req}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_search_req}}
{{#vendorExtensions.x-is_match_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_match_filter}}
{{#vendorExtensions.x-is_match_phrase_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_match_phrase_filter}}
{{#vendorExtensions.x-is_match_op_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_match_op_filter}}
{{#vendorExtensions.x-is_bool_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_bool_filter}}
{{#vendorExtensions.x-is_geo_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_geo_filter}}
{{#vendorExtensions.x-is_range_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_range_filter}}
{{#vendorExtensions.x-is_in_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_in_filter}}
{{#vendorExtensions.x-is_equals_filter}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_equals_filter}}
{{#vendorExtensions.x-is_req_highlight}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_req_highlight}}
{{#vendorExtensions.x-is_highlight_field}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_highlight_field}}
{{#vendorExtensions.x-is_req_agg}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_req_agg}}
{{#vendorExtensions.x-is_sort_order}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_sort_order}}
{{#vendorExtensions.x-is_sort_mva}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_sort_mva}}
{{#vendorExtensions.x-is_source_by_rules}}
[[Using in search requests]](SearchApi.md#{{classname}})
{{/vendorExtensions.x-is_source_by_rules}}

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

{{/model}}{{/models}}
